<h1 class="d-flex justify-content-center">Add a new bookmark:</h1>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.association :movie %>
  <div class="d-flex justify-content-center"><%= f.submit "Submit bookmark", class: "btn btn-dark" %></div>
<% end %>
<br>
<p class="d-flex justify-content-center"><%= link_to "Back to list", root_path , class: "btn btn-dark"%></p>
